/* line 24, ../sass/bank.scss */
.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000;
}

/* line 30, ../sass/bank.scss */
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

/* line 42, ../sass/bank.scss */
.navbar {
  border-radius: 0px;
}

@media (max-width: 47.9em) {
  /* line 47, ../sass/bank.scss */
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
    width: 100%;
  }

  /* line 53, ../sass/bank.scss */
  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }

  /* line 57, ../sass/bank.scss */
  .nav.navbar-nav.pull-xs-right {
    float: none !important;
  }
}
/* line 70, ../sass/bank.scss */
[hidden][style="display: block;"] {
  display: block !important;
}

/*//Custom Code//*/
html,
body {
  height: 100%;
  background-color: #333;
}

body {

}

/*
 * Footer
 */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  color: rgba(255,255,255,.5);
}

