{% extends "base.html" %}
{% load staticfiles i18n %}
{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}
{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
<link href="{% static 'css/bank.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<body>
<!-- List of uploaded documents -->
{% if departments %}
    <ul>
    {% for dept in departments %}
        <li><a href="{{dept.department}}">{{ dept.department }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Departments.</p>
{% endif %}
</body>
{% endblock %}
